* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

/* set bg image and linear gradient in section */
#banner {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), #009688),
        url(../img/banner.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
}

/* design logo */
.logo {
    width: 120px;
    position: absolute;
    /* top: 30px;
    left: 80px; */
    top: 4%;
    left: 10%;
}

.banner-text {
    text-align: center;
    padding-top: 135px;
    color: white;
}

.banner-text h1 {
    font-size: 110px;
    font-family: 'Kaushan Script', cursive;
}

.banner-text p {
    font-size: 18px;
    font-style: italic;
}

.banner-btn {
    margin: 60px auto 0px;
}

.banner-btn a {
    width: 130px;
    display: inline-block;
    text-decoration: none;
    color: #ffffff;
    border: 0.5px solid white;
    margin: 0 10px;
    padding: 12px 0px;
    position: relative;
    z-index: 1;
    transition: color 0.5s;
}

.banner-btn a span {
    background-color: white;
    height: 100%;
    width: 0%;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    transition: 0.5s;
}

.banner-btn a:hover span {
    width: 100%;
}

.banner-btn a:hover {
    color: black;
}

/* Design Side Navigation Bar  */
#sideNav {
    position: fixed;
    top: 0;
    right: -220px;
    width: 220px;
    height: 100vh;
    z-index: 2;
    background-color: #009688;
    transition: 0.5s;
}

nav ul li {
    list-style: none;
    margin: 50px 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

/* Design Menu Icon */
#menuBtn {
    width: 35px;
    height: 35px;
    background-color: #009688;
    position: fixed;
    top: 20px;
    right: 30px;
    text-align: center;
    z-index: 3;
    cursor: pointer;
    border-radius: 3px;
}

#menuBtn img {
    width: 20px;
    margin-top: 7px;
}

@media screen and (max-width : 750px) {
    .banner-text h1 {
        font-size: 45px;
        font-family: 'Kaushan Script', cursive;
    }

    .banner-btn a {
        display: block;
        margin: 10px auto;
    }
}

/* Feature Section Design */
#feature {
    width: 100%;
    padding: 70px 0px;
}

.title-text {
    text-align: center;
    padding-bottom: 70px;
}

.title-text p {
    font-size: 20px;
    color: #009688;
    margin: auto;
    font-weight: bold;
    display: inline-block;
    z-index: 1;
    position: relative;
}

.title-text p::after {
    content: '';
    width: 50px;
    height: 35px;
    background-image: linear-gradient(#019587, #fff);
    position: absolute;
    top: -20px;
    left: 0;
    z-index: -1;
    transform: rotate(10deg);
    border-top-left-radius: 35px;
    border-bottom-right-radius: 30px;
}

.title-text h1 {
    font-size: 40px;
}

.feature-box {
    width: 80%;
    display: flex;
    margin: auto;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
}

.features {
    flex-basis: 50%;
}

.features-img {
    flex-basis: 50%;
    margin: auto;
}

.features-img img {
    width: 70%;
    border-radius: 10px;
}

.features h1 {
    color: #009688;
    margin-bottom: 10px;
    font-weight: 100;
    text-align: left;
}

.features-desc {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.feature-icon .fa {
    width: 50px;
    height: 50px;
    font-size: 30px;
    line-height: 50px;
    border-radius: 8px;
    color: #009688;
    border: 1px solid #009688;
}

.feature-text p {
    text-align: left;
    padding: 0px 20px;
}

@media screen and (max-width : 750px) {
    .title-text h1 {
        font-size: 30px;
    }

    .features {
        flex-basis: 100%;
    }

    .features-img {
        flex-basis: 100%;

    }

    .features-img img {
        width: 100%;
        border-radius: 10px;
    }
}

/* Design Service  */
#service {
    background-color: #efefef;
    width: 100%;
    padding: 70px 0;
}

.service-box {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
}

.single-service {
    flex-basis: 48%;
    color: #fff;
    margin-bottom: 20px;
    border-radius: 7px;
    text-align: center;
    position: relative;
}

.single-service img {
    width: 100%;
    border-radius: 7px;
}

.overlay {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), #009688);
    position: absolute;
    border-radius: 7px;
    top: 0;
    opacity: 0;
    transition: 1s;
}

.single-service:hover .overlay {
    opacity: 1;
}

.service-desc {
    width: 80%;
    position: absolute;
    bottom: 0;
    left: 50%;
    opacity: 0;
    transform: translateX(-50%);
    transition: 1s;
}

hr {
    border: 1px solid #ffffff;
    color: #fff;
    margin: 15px auto;
    width: 60%;
}

.service-desc p {
    font-size: 15px;
}

.single-service:hover .service-desc {
    bottom: 40%;
    opacity: 1;
}

@media screen and (max-width : 750px) {
    .single-service {
        flex-basis: 100%;
        margin-bottom: 20px;
    }

    .service-desc p {
        font-size: 12px;
    }

    .single-service:hover .service-desc {
        bottom: 25% !important;
    }

    hr {
        margin: 5px auto;
    }
}

/* Design Testimonial  */
#testimonial {
    width: 100%;
    padding: 70px 0;
}

.testimonial-row {
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
}

.testimonial-col {
    flex-basis: 28%;
    padding: 10px;
    margin-bottom: 30px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 10px 20px 3px #00968814;
    /* transition:  translate 0.5s; */
    transition: box-shadow 0.5s;
}

.testimonial-col p {
    font-size: 14px;
}

.user {
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.user img {
    width: 40px;
    margin-right: 20px;
    border-radius: 3px;
}

.user-info .fa {
    margin-left: 10px;
    color: #27c0ff;
}

.user-info small {
    color: #009688;
}

.testimonial-col:hover {
    /* transform: translateY(-7px); */
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.2);
}

@media screen and (max-width : 750px) {
    .testimonial-col {
        flex-basis: 100%;
    }
}

/* Footer Design  */
#footer {
    padding: 100px 0 20px;
    background-color: #efefef;
    position: relative;
}

.footer-row {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    flex-wrap: wrap;
}

.footer-left,
.footer-right {
    flex-basis: 48%;
    margin-bottom: 20px;
    padding: 10px;
}

.footer-right {
    text-align: right;
}

.footer-row h1 {
    margin: 10px 0;
}

.footer-row p {
    line-height: 30px;
}

.footer-left i {
    margin-right: 10px;
}

.footer-left .fa,
.footer-right .fa {
    margin: 10px;
    color: #009688;
    font-size: 20px;
}

.footer-img
{
    width: 370px;
    position: absolute;
    top: 35%;
    left: 50%;
    opacity: 0.1;
    transform: translate(-50%,-50%);
}

.social-links
{
    text-align: center;
}

.social-links .icon
{
    height: 40px;
    width: 40px;
    border: 1px solid #009688;
    font-size: 20px;
    line-height: 40px;
    cursor: pointer;
    margin: 40px 2px 5px;
    color: #009688;
    transition: transform 0.5s;
}

.social-links .icon:hover
{
    background-color: #009688;
    color: white;
    transform: translateY(-7px);
}

.social-links p{
    font-size: 12px;
    margin-top: 20px;
}

@media screen and (max-width : 750px) {
    .footer-left, .footer-right {
        flex-basis: 100%;
        font-size: 12px;
    }

    .footer-img
    {
        top: 25%;
    }

}
